.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea,
select {
  border-radius: 5px;
  border: 2px solid #064B92;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus {

    border: 2px solid #4fb560;
    outline: none;
}

label{
  color: #000;
  font-size: 20px;
}

select{
  outline: none;
}
