*{
  padding: 0;
  margin: 0;
}

body{
  font-family: Lato, sans-serif;
}
.without-list{
  list-style: none;
}

.marginC{
  margin-top: 80px;
}


.fl{
  font-weight: 300;
}

.banner h2{
  font-size: 40px;
}


.car-p p{
  padding: 0;
  max-width: 400px;

}

.round-form{
  border-radius: 30px;
}
.round-img{
  border-radius: 15px;
}

h1{
  font-size: 4em;
}
