*{
  padding: 0;
  margin: 0;
}

body{
  font-family: Lato, sans-serif;

}
.without-list{
  list-style: none;
}


.fl{
  font-weight: 300;
}

.banner h2{
  font-size: 40px;
}


.round-form{
  border-radius: 30px;
}

h1{
  font-size: 4em;
}

.delay-in{
  --animate-duration: 1.3s;
}

section{
  width: 100%;
  height: 100vh;
}

.section2{
  width: 100%;
  height: 60vh;
}


.img-d{
  // width: 30em;
  // height: 30em;
}
