@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@import "generals";
@import "header";
@import "mediaQuerys";
@import "animations";
@import "colors";
@import "form";
@import "button";
@import "wrapper";
